
h1#titulo {
    color: teal;
}
strong {
    color: red;
}
span.destacado {
    color: orange;
}
h2#subtitulo {
    color: blue;
}
p a {
    color: red;
}
p a:nth-last-child(1) {
    color: green;
}
p a em {
    color: blue;
}
span.especial {
    color: violet;
}
table thead, tfood, tbody, tr, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    color: green;
}
table caption {
    color: blue;
}
table thead tr th {
    color: orange;
}
table tfoot tr th {
    color: red;
}
table tbody tr th.especial {
    color: orange;
}
table tbody tr th {
    color: red;
}
table tbody tr td strong {
    color: orange;
}
div#adicional {
    color: olive;
}
span#especial {
    color: violet;
}
