
h1#titulo {
    color: teal;
}
strong {
    color: red;
}
span.destacado {
    color: orange;
}
h2#subtitulo {
    color: blue;
}
a {
    color: red;
}
a em {
    color: blue;
}
span.especial {
    color: violet;
}
table thead, tfood, tbody, tr, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    color: green;
}
table caption {
    color: blue;
}
table thead tr th {
    color: orange;
}
table tfoot tr th {
    color: red;
}
table tbody tr th.especial {
    color: orange;
}
table tbody tr th {
    color: red;
}

