body {
    margin: 0px;
    padding: 0px;
    background-color: teal;
}
div#css {
    font-size: 30em;
    font-family: verdana;
    font-weight: bold;
    color: gray;
    position: absolute;
    left: 50%;
    /*top: 50%;
    transform: translate(-50%, -50%); -- Centrar verticalment*/
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    margin: 0;
    padding: 0;
}
div#libertad {
    position: absolute;
    top: 400px;
    left: 100px;
    background-color: black;
    color: white;
    font-size: large;
}
div#insertar {
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
}
div#imagen {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

